	.modal3 {
      display: none; 
      position: fixed; 
      z-index: 1; 
      padding-top: 100px; 
      left: 0;
      top: 0;
      width: 100%; 
      height: 100%; 
      overflow: auto; 
      background-color: rgb(0,0,0); 
      background-color: rgba(0,0,0,0.4); 
    }

    .modal-content3 {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 50%;
    }

    .close3 {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close3:hover, .close3:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    .contain {
	margin-top: -10px;
  	padding: 30px;
  	width: 100%;
  	background-color: white;
	}

	.toptxt1 {
		padding: 10px;
		text-align: center;
		background-color: #0080ff;
		color: white;
	}

	input[type='radio'] {
    	transform: scale(1.5);
	}


	input[type=text] {
  		width: 100%;
  		padding: 20px;
  		margin: 5px 0 22px 0;
  		display: inline-block;
  		border: none;
  		background: #f1f1f1;
	}

	hr {
  		border: 1px solid #f1f1f1;
  		margin-bottom: 25px;
	}


	.registerbtn {
  		background-color: black;
  		color: white;
  		padding: 16px 20px;
  		margin: 8px 0;
  		border: none;
  		cursor: pointer;
  		width: 100%;
  		opacity: 0.9;
	}

	.registerbtn:hover {
  		opacity: 1;
	}


	@media screen and (max-width: 800px) {
		.modal3 {
			width: 100%;
			margin-left: 0;
		}
		.modal-content3 {
			width: 75%;
			margin: auto;
		}
		.toptxt1 h1{
			margin: auto;
			font-size: 25px;
		}
	}


