body .Profile {
  text-align: center;
  font-size: 22px;
  background-image: ("assets/images/images.jpeg");
}

.Profile {
      display: none; 
      position: fixed; 
      z-index: 1; 
      padding-top: 100px; 
      left: 0;
      top: 0;
      width: 100%; 
      height: 100%; 
      overflow: auto; 
      background-color: rgb(0,0,0); 
      background-color: rgba(0,0,0,0.4); 
    }

    .modal-contents {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 50%;
    }

    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover, .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    .button1 {
      background-color: #0040ff;
      color: white;
      padding: 8px;
    }
    .button1:hover {
      background-color: #0080ff;
    }

    .align {
    	text-align: left;
    }

      @media screen and (max-width: 800px) {
      .Profile{
        width: 100%;
      }
      .modal-content {
        width: 75%;
      }
    }
